*{
    /*   border: solid 1px; */
      font-family: 微軟正黑體;
      position: relative;
    }
    html, body{
      width: 100%; height: 100%;
      padding: 0px; margin: 0px;
    }
    body{
      background-color: #8499B1;
      border-top: solid 20px #414D5F;
      border-bottom: solid 20px #414D5F;
      
      box-sizing: border-box;
      overflow: hidden;
    }
    .namecard{
      width: 350px; height:200px;
      padding: 20px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 150px;
      background-color: #414D5F;
      
      letter-spacing: 2.5px;
      font-weight: 100;
      
      color: #8499B1;
      
      overflow: hidden;
      border: solid 1px rgba(0,0,0,0.15);
      border-radius: 6px;
      
      box-shadow: 0px 0px 15px rgba(0,0,0,0.2)
    }
    .namecard h2{
      font-size: 25px;
      font-weight: 700;
    }
    .namecard h2 span{
      font-size: 12px;
    }
    .namecard h5{
      color: #DBA;
      font-weight: 600;
    }
    .namecard p{
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
    }
    .circle{
      width: 100px; height: 100px;
      border-radius: 100%;
      position: absolute;
    }
    .circle1{
      right: 30px;
      top: 210px;
      background-color: #FFDDBB;
    }
    .circle2{
      width: 60px;
      height: 60px;
      right: -40px;
      top: -40px;
      border: solid 3px #FDB;
    }
    .page_title{
    /*   border: solid 1px; */
      text-align: center;
      color: #DDDBF1;
      font-weight: 500;
    }
    .mark{
      font-size: 400px;
      position: absolute;
      buttom: 100px;
      font-weight: 100;
      color: rgba(0,0,0,0.05)
    }