<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
	<!-- get_flashed_messages會將session內的所有message全部取出 -->
    {% with messages = get_flashed_messages() %}
    <!-- 判斷是否有message，因為get_flashed_messages是將所有的訊息一次取出，因此需要利用迴圈來取得所有的訊息 -->
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    hello, {{ username }}, Welcome my homepage!
</body>
</html>