<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
</head>
<body>
    <form method='post' action={{ url_for('login') }}>  
        <p>
        你的姓名: <input type='text' name='username' />
        你想吃的餐點: <input type='text' name='meals' />
        金額: <input type='text' name='amount' />
    </p>
        <p>
        <button type='submit'>Submit</button>
    </p>    
    </form>
    <div class="mark">MILKTEA</div>
<div class="namecard">
<h2>曹立諭
<span>(CaoCharles)</span>
</h2>

<h5>數經飲料部-奶茶品嘗師</h5>

<hr>

<p>創立數經飲料部，負責挑選每日奶茶店。喜好在優閒午後，探索巷弄間獨特的店家，致力於尋找人生中每個當下最適合的奶茶</p>
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
</div>
<h3 class="page_title">MILK TEA SCIENTIST</h3>
</body>
</html>